<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Navbar Example</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles.css">
    <!-- Add any additional styles if needed -->
</head>
<body>

<nav class="navbar navbar-light bg-white">
    <div class="container-fluid">
        <span class="navbar-text">
            <h6>Random Software Co. LLC</h6>
            <h6>Software Engineering Internship</h6>
            <h6>Seattle Washington, Paid</h6>
        </span>
        <div class="d-flex">
            <button class="btn" type="button">Apply Now!</button>
        </div>
    </div>
</nav>
<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-md-6 text-center">
            <h2>About the Internship</h2>
            <p>We are searching for a motivated student software developer for an IOS and Android development internship
            </p>
            <h2>About the Internship</h2>
            <p>We are searching for a motivated student software developer for an IOS and Android development internship
            </p>

        </div>
        <div class="col-md-6 text-center">
            <img src="images/building.jpeg" alt="tech building" class="img-fluid rounded">
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>