.navbar-text{
    margin-bottom: 10px;
}
.btn {
    background-color: lightgreen;
}
.container-fluid {
    padding: 20px;
}
 .col-md-6 h2{
     border-bottom: 1px solid #ccc;
     padding-bottom: 10px;
     text-align: center;
 }
.container-fluid.bg-light .col-md-6 p {
    margin-bottom: 20px;
}
.container-fluid.bg-light .col-md-6 i {
    padding-bottom: 20px;
}
.btn2{
    text-align: center;
}
.container-fluid.bg-light .col-md-6 .d-flex {
    margin-top: 60px;
}
.container-fluid.bg-light .col-md-6 i {
    padding-bottom: 20px;
    margin-bottom: 40px;
}
