.navbar-text{
    margin-bottom: 10px; /* Adjust the value as needed */
}
.btn {
    background-color: lightgreen;
}
.container-fluid {
    padding: 20px;
}
 .col-md-6 h2{
     border-bottom: 1px solid #ccc;
     padding-bottom: 10px;
     text-align: center;
 }
 p {
     padding-bottom: 50px;
 }
